
/_UpgradeReport_Files
/Debug
/ipch
/Release
/scratch_work
/david tools/graphicsX/Release
/david tools/graphicsX/Debug
/david tools/InputX/Debug
/david tools/InputX/Release
/david tools/Parser/Release
/david tools/Parser/Debug
/david tools/ScriptTease/Debug
/david tools/ScriptTease/Release
/TATA_MAHATTA.vcproj.ddionisio-PC.ddionisio.user
*.old